/*navbar e body */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: 0px;
  font-family: sans-serif;
  color: white
}

body {
  background: #101012;
}

.navbar {
  background: #181820;
  padding: 16px;
  display: flex;
  gap: 16px;
}

.navbar>a {
  color: white;
  text-decoration: none;
}

.navbar>a:hover {
  color: #eb5b00;
}

/*main*/

main {
  padding: 16px;
}

main>div {
  padding: 16px;
  background: #181820;
}

main>div>h1 {
  color: #eb5b00;
  margin-bottom: 16px;
}

/*table*/

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0px auto;
  background-color: #101012;
  border: 1px solid #303030;

}

td,
th {
  border: none;
  padding: 4px 8px;
}

td {
  color: #a9a9ac;
}

tr {
  border-bottom: 1px solid #303030;
}

th:nth-child(4),
td:nth-child(4) {
  display: none;
  /* Ajuste essa porcentagem conforme necessário */
}



table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;

}


@media (max-width: 650px) {
  .navbar {
    flex-direction: column;
  }

  table {
    min-width: 50px;
    margin: 0px;

  }

  td, th {
    width: auto;
  }

  th:nth-child(4),
  td:nth-child(4) {
    display: table-cell;
    /* Ajuste essa porcentagem conforme necessário */
  }

  th:nth-child(2),
  td:nth-child(2),
  th:nth-child(3),
  td:nth-child(3) {
    display: none;
    /* Ajuste essa porcentagem conforme necessário */
  }
}