{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'user/login/css/style.css' %}"> 
    <title>Autenticação</title>
</head>

<body>
    <nav class="navbar">
        <div>
            <a href="{% url 'home' %}">
                <img src="{% static 'corte/icons/home.svg' %}" alt="" srcset="">
                Inicio
            </a>
        </div>
        {% if user.is_authenticated %}
        <div>
            <a href="{% url 'agendar' %}">
                <img src="{% static 'corte/icons/listClient.svg' %}" alt="" srcset="">
                Agendamento
            </a>
        </div>
        <div>
            <a href="{% url 'feedback' %}">
                <img src="{% static 'corte/icons/feedback-icon.svg' %}" alt="" srcset="">
                feedback
            </a>
        </div>
        {% if user.is_staff %}
            <div>
                <a href="{% url 'agendageral' %}">
                    <img src="{% static 'corte/icons/listAdmin.svg' %}" alt="" srcset="">
                    Agenda Geral
                </a>
            </div>
            <div>
                <a href="{% url 'admin:index' %}">
                    <img src="{% static 'corte/icons/admin.svg' %}" alt="" srcset="">
                    Admin
                </a>
            </div>
        {% endif %}
        <div>
            <a href="{% url 'sair' %}">
                <img src="{% static 'corte/icons/logout.svg' %}" alt="" srcset="">
                Logout
            </a>
        </div>
        {%endif%}
        <div>
            <a href="{% url 'feedback' %}">
                <img src="{% static 'corte/icons/feedback-icon.svg' %}" alt="" srcset="">
                feedback
            </a>
        </div>
        
        {% if not user.is_authenticated %}
            <div>
                <a href="{% url 'cadastrar' %}">
                    <img src="{% static 'corte/icons/userRegistration.svg' %}" alt="" srcset="">
                    Cadastro
                </a>
            </div>
            <div>
                <a href="{% url 'logar' %}">
                    <img src="{% static 'corte/icons/login.svg' %}" alt="" srcset="">
                    Login
                </a>
            </div>
 
        {% endif %}
        
    </nav>
    <div class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="content">
            <div class="central-login-div">
              {% block template %}

              {% endblock %}  
            </div>
            <div class="img-class">
                <img class="img" src="{% static 'imgs/barber.png' %}" alt="">
            </div>
        </div>

    </div>
</body>

</html>