{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'user/login/css/style.css' %}">
</head>

<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="">
        <div class="">
            <h1>Boas Vindas!</h1>
        </div>
        <form action="{% url 'logar' %}" class="" method="post"> {% csrf_token %}
            <div class="">
                <span>Username:</span>
                <input type="text" name="username" placeholder="Ex.: João123" autocomplete="off">
            </div>
            <div class="">
                <span>Senha:</span>
                <input type="password" name="password" autocomplete="off">
            </div>
            <div class="">
                <input type="submit" value="Entrar">
            </div>
            <a href="{% url 'cadastrar' %}">Não tenho conta</a>
        </form>
    </div>
</body>

</html>